@model TeacherManagement.Models.TBGiaoVien
@using TeacherManagement.Models
@using TeacherManagement.DTOs
@using TeacherManagement.Helpers

@{
    List<GiaoVienDaiHocDTO> giaoVienDaiHocDTO = ViewBag.LayThongTinDaiHoc;
    List<GiaoVienThacSiDTO> giaoVienThacSiDTO = ViewBag.LayThongTinThacSi;
    List<GiaoVienTienSiDTO> giaoVienTienSiDTO = ViewBag.LayThongTinTienSi;
    List<GiaoVienTrinhDoNgoaiNguDTO> giaoVienTrinhDoNgoaiNguDTOs = ViewBag.LayThongTinNgoaiNgu;
}

<div class="container mb-4 main-container">
    <div class="title-part">Quá trình học tập</div>
    <div class="information-teacher">
        <!-- Thong tin dai hoc -->
        @if (giaoVienDaiHocDTO != null)
        {
            <div class="title-sub-part">I. Đại học</div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ngành học</th>
                        <th scope="col">Hệ đào tạo</th>
                        <th scope="col">Năm tốt nghiệp</th>
                        <th scope="col">Nơi đào tạo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in giaoVienDaiHocDTO)
                    {
                        <tr>
                            <td>@item.NganhHoc</td>
                            <td>@item.HeDaoTao</td>
                            <td>@Html.FormatDateTime2Date(@item.NamTotNghiep)</td>
                            <td>@item.NoiDaoTao</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (giaoVienThacSiDTO != null)
        {
            <div class="title-sub-part">II. Thạc sĩ</div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Thạc sỹ chuyên ngành</th>
                        <th scope="col">Tên luận văn</th>
                        <th scope="col">Năm cấp bằng</th>
                        <th scope="col">Nơi đào tạo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in giaoVienThacSiDTO)
                    {
                        <tr>
                            <th>@item.ThacSyChuyenNganh</th>
                            <th>@item.TenLuanVan</th>
                            <th>@Html.FormatDateTime2Date(item.NamCapBang)</th>
                            <td>@item.NoiDaoTao</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (giaoVienTienSiDTO != null)
        {
            <div class="title-sub-part">III. Tiến sĩ</div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tên luận án</th>
                        <th scope="col">Năm cấp bằng</th>
                        <th scope="col">Nơi đào tạo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in giaoVienTienSiDTO)
                    {
                        <tr>
                            <th>@item.TenLuanAn</th>
                            <th>@Html.FormatDateTime2Date(item.NamCapBang)</th>
                            <th>@item.NoiDaoTao</th>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (giaoVienTrinhDoNgoaiNguDTOs != null)
        {
            <div class="title-sub-part">IV. Ngoại ngữ</div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tên trình độ</th>
                        <th scope="col">Năm cấp bằng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in giaoVienTrinhDoNgoaiNguDTOs)
                    {
                        <tr>
                            <th>@item.TenTrinhDo</th>
                            <th>@Html.FormatDateTime2Date(item.NamCapBang)</th>
                        </tr>
                    }
                </tbody>
                </table>
            }
    </div>
</div>
