@model IList<TeacherManagement.DTOs.GiaoVienHuongDanDTO>
@{
    var selectListSchoolYear = ViewBag.SelectListSchoolYear as List<SelectListItem>;
}
@if (Model == null || Model.Count == 0)
{
    <tr>
        <td class="tg-0lax" colspan="6" style="text-align:center;">không có dữ liệu</td>
    </tr>
}
else
{
    int i = 1;
    foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>@(item.TenHocVien != null ? item.TenHocVien : "")</td>
            <td>@(item.TenDeTai != null ? item.TenDeTai : "")</td>
            <td>@(item.TenLopHuongDan != null ? item.TenLopHuongDan : "")</td>
            <td>@(item.TenLoaiHuongDan != null ? item.TenLoaiHuongDan : "")</td>
            <td>@(item.TenHeDaoTao != null ? item.TenHeDaoTao : "")</td>
            <td>@(item.NamHoc != null ? item.NamHoc: "")</td>
        </tr>
        i++;
    }
}
