@model TeacherManagement.Models.TBGiaoVien

<head>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/detail.css" />
</head>
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Quản Lý Giáo Viên</a>
        </li>
    </ol>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Thông Tin Giáo Viên</a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Quá Trình Học Tâp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Tham Gia Hội Đồng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">Tham Gia Hướng Dẫn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu4">Tham Gia Giảng Dạy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu5">Tham Gia Công Tác Khác</a>
        </li>*@
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active">
            @Html.Action("ThemThongTinGiaoVien")
        </div>
        @*<div id="menu1" class="container tab-pane fade">
            @Html.Action("QuaTrinhHocTap")
        </div>
        <div id="menu2" class="container tab-pane fade">
            @Html.Action("ThamGiaHoatDong")
        </div>
        <div id="menu3" class="container tab-pane fade">
            @Html.Action("ThamGiaHuongDan")
        </div>
        <div id="menu4" class="container tab-pane fade">
            @Html.Action("ThamGiaGiangDay")
        </div>
        <div id="menu5" class="container tab-pane fade">
            @Html.Action("ThamGiaCongTacKhac")
        </div>*@
    </div>
</div>

