@model IEnumerable<TeacherManagement.Models.TBGiaoVien>
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Quản Lý Giáo Viên</a>
        </li>
        <li class="breadcrumb-item active">Danh sách Giáo Viên</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Danh Sách Giáo Viên
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên Giáo Viên</th>
                            <th>Học Hàm</th>
                            <th>Học Vị</th>
                            <th>Đơn Vị</th>
                            <th>Chuyên Môn</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.TenGV</td>
                            <td>@item.TBChiTietHocHams.ToList()[0].TBHocHam.TenHocHam</td>
                            <td>@item.TBChiTietHocVis.ToList()[0].TBHocVi.TenHocVi</td>
                            @if (@item.TBChiTietChucVuChinhQuyens.ToList().Count > 0)
                            {
                                <td>@item.TBChiTietChucVuChinhQuyens.ToList()[0].TBDonVi.TenDonVi</td>
                            }
                            else
                            {
                                <td>Không có dữ liệu</td>
                            }

                            @if (@item.TBChiTietChuVuChuyenMons.ToList().Count > 0)
                            {
                                <td>@item.TBChiTietChuVuChuyenMons.ToList()[0].TBChucVuChuyenMon.TenChuVuCM</td>
                            }
                            else
                            {
                                <td>Không có dữ liệu</td>
                            }

                            <td>
                                <a class="view" href="#" style="color: #2ecc71">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a class="edit" href="#" style="color: #2980b9">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="delete" href="#" style="color: #e74c3c">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
</div>
<!-- /.container-fluid -->