@model IEnumerable<TeacherManagement.Models.TBGiaoVien>
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Ngay Sinh</th>
                            <th>Email</th>
                            <th>SDT</th>
                            <th>Dia Chi</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenGV</td>
                                <td>@item.NgaySinh</td>
                                <td>@item.Email</td>
                                <td>@item.SDT</td>
                                <td>@item.DiaChi</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    <p class="small text-center text-muted my-5">
        <em>More table examples coming soon...</em>
    </p>
</div>
<!-- /.container-fluid -->